<app-toolbar></app-toolbar>
<app-progress-spiner [visible]="loading" ></app-progress-spiner>
<div class="breadcrumb_bag">
  <div aria-label="breadcrumb" fxLayout="row" fxLayoutAlign="start center">
    <app-breadcrumb class="bread_text" [home]="'Projects'" [link]="'/current-project'" [name]="'Current Project'"></app-breadcrumb>
  </div>
</div>

<div class="form-details">
  <mat-card>
    <!-- Page form start -->
    <form [formGroup]="currentProjectFormData">
      <mat-card-title>
        <div class="form_title">
          Current Project Details
        </div>
      </mat-card-title>

        <mat-grid-list cols="4" rowHeight="90px">

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Consultant</mat-label>
              <input  class="input-font-bold" formControlName="consultant" name="consultant"   matInput placeholder="" value="" required>
              <mat-error>consultant is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Start Date</mat-label>
              <input  class="input-font-bold" formControlName="startDate" name="startDate" [matDatepicker]="picker1"   matInput placeholder="" value="" required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error>Start Date is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>End Date</mat-label>
              <input  class="input-font-bold" formControlName="endDate" name="endDate" [matDatepicker]="picker2"   matInput placeholder="" value="" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error>End Date is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Schedule Date</mat-label>
              <input  class="input-font-bold" formControlName="scheduleDate" name="scheduleDate" [matDatepicker]="picker3"   matInput placeholder="" value="" required>
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
              <mat-error>Schedule is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>End Client Name</mat-label>
              <input  class="input-font-bold" formControlName="endClient" name="endClient"   matInput placeholder="" value="" required>
              <mat-error>End Client Name is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Position Title</mat-label>
              <input  class="input-font-bold" formControlName="position" name="position"   matInput placeholder="" value="" required>
              <mat-error>Position is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Industry</mat-label>
              <input  class="input-font-bold" formControlName="industry" name="industry"   matInput placeholder="" value="" required>
              <mat-error>Industry is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Work Phone</mat-label>
              <input  class="input-font-bold" formControlName="workPhone" name="workPhone"   matInput placeholder="" value="" required>
              <mat-error>Work Phone is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Work Fax</mat-label>
              <input  class="input-font-bold" formControlName="workFax" name="workFax"   matInput placeholder="" value="" required>
              <mat-error>Work Fax is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Work Email</mat-label>
              <input  class="input-font-bold" formControlName="workEmail" name="workEmail"   matInput placeholder="" value="" required>
              <mat-error>Work Email is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Work Manager</mat-label>
              <input  class="input-font-bold" formControlName="workManager" name="workManager"   matInput placeholder="" value="" required>
              <mat-error>Work Manager is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Work Manager Phone</mat-label>
              <input  class="input-font-bold" formControlName="workManagerPhone" name="workManagerPhone"   matInput placeholder="" value="" required>
              <mat-error>Work Manager Phone is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Work Manager Email</mat-label>
              <input  class="input-font-bold" formControlName="workManagerEmail" name="workManagerEmail"   matInput placeholder="" value="" required>
              <mat-error>Work Manager Email is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Work Address</mat-label>
              <input  class="input-font-bold" formControlName="workAddress" name="workAddress"   matInput placeholder="" value="" required>
              <mat-error>Work is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input  class="input-font-bold" formControlName="city" name="city"   matInput placeholder="" value="" required>
              <mat-error>City is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>State</mat-label>
              <input  class="input-font-bold" formControlName="state" name="state"   matInput placeholder="" value="" required>
              <mat-error>State is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Zip Code</mat-label>
              <input  class="input-font-bold" formControlName="zip" name="zip"   matInput placeholder="" value="" required>
              <mat-error>Zip is required</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Project Description</mat-label>
              <textarea matInput
                        cdkTextareaAutosize
                        formControlName="projectDescription"
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Technologies Used</mat-label>
              <textarea matInput
                        cdkTextareaAutosize
                        formControlName="technologiesUsed"
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Role & Responsibilities</mat-label>
              <textarea matInput
                        cdkTextareaAutosize
                        formControlName="roleAndResponsibillities"
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
    </form>

    <button (click)="save()">save</button>
  </mat-card>
</div>
