.breadcrumb{
  .bread{
    display: flex;
    justify-content: center;
  }
  .h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #081845;
  }
  .secondary-text{
    color: #000000!important;
    display: flex;
    justify-content: center;
  }
  height: 45px !important;
}
