<div class="home">
  <mat-toolbar style="background: #243655;">
    <mat-toolbar-row>
      <span>Prototype</span>
      <span class="menu-spacer"></span>
      <div class="menu-list">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="home" mat-button>Home</a>
        <a [matMenuTriggerFor]="project" mat-button>Projects</a>
        <mat-menu #project="matMenu">
          <button [routerLink]="'../current-project'" mat-menu-item>Current Project</button>
          <button [routerLink]="'../project'" mat-menu-item>All Projects</button>
        </mat-menu>
        <a mat-button [matMenuTriggerFor]="menu">Timesheets</a>
        <mat-menu #menu="matMenu">
          <button [routerLink]="'../current-timesheet'" mat-menu-item>Current TimeSheets</button>
          <button [routerLink]="'../past-due'" mat-menu-item>Past Due TimeSheets</button>
          <button mat-menu-item>Submitted</button>
          <button mat-menu-item>Rejected</button>
          <button mat-menu-item>Approved</button>
          <button mat-menu-item>All TimeSheets</button>
        </mat-menu>
        <a href="home" mat-button>Time Off</a>
        <a href="home" mat-button>Expenses</a>
        <a href="home" mat-button>Tickets</a>
        <a href="home" mat-button>Documents</a>
        <a [matMenuTriggerFor]="User" mat-button>User</a>
        <mat-menu #User="matMenu" >
          <button mat-button
                  class="user-button">
            <div fxLayout="row" fxLayoutAlign="center center">
              <span class="username mr-12" fxHide fxShow.gt-sm>{{userName}} ({{email}})</span>
            </div>
          </button>

          <button mat-menu-item class="" (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
