<app-toolbar></app-toolbar>
<div class="breadcrumb_bag">
  <div aria-label="breadcrumb" fxLayout="row" fxLayoutAlign="start center">
    <app-breadcrumb class="bread_text" [home]="'Timesheets'" [link]="'/past-due'" [name]="'Past Due TimeSheets'"></app-breadcrumb>
  </div>
</div>

<div class='timesheets'>
  <mat-card>
    <div>{{title}}</div>
    <form #formControl="ngForm" autocomplete="off">
      <mat-table [dataSource]="dataSource" #timesheetTable matSort>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class='actions'><div>Action</div></mat-header-cell>
          <mat-cell *matCellDef="let entry"  class='actions'>
            <button color="primary" mat-button>View</button>
            <button color="accent" mat-button>Edit</button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef class='actions'></mat-footer-cell>
        </ng-container>


        <ng-container matColumnDef="period">
          <mat-header-cell *matHeaderCellDef>Period</mat-header-cell>
          <mat-cell *matCellDef="let entry;let i = index;" class="hours">{{entry.period}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let entry;let i = index;" class="hours"> {{entry.status}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="ragular">
          <mat-header-cell *matHeaderCellDef>Ragular Hours</mat-header-cell>
          <mat-cell *matCellDef="let entry;let i = index;" class="hours">{{entry.ragular}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="overtime">
          <mat-header-cell *matHeaderCellDef>Overtime Hours</mat-header-cell>
          <mat-cell *matCellDef="let entry;let i = index;" class="hours">{{entry.overtime}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="totalHours">
          <mat-header-cell *matHeaderCellDef>Total Hours</mat-header-cell>
          <mat-cell *matCellDef="let entry;let i = index;" class="hours">{{entry.totalHours}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="attachment">
          <mat-header-cell *matHeaderCellDef>Attchment</mat-header-cell>
          <mat-cell *matCellDef="let entry;let i = index;" class="hours">{{entry.attachment}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="client">
          <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
          <mat-cell *matCellDef="let entry;let i = index;" class="hours">{{entry.client}}

          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="timesheetColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: timesheetColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="timesheetColumns"></mat-footer-row>
      </mat-table>

    </form>
  </mat-card>
</div>

