<app-toolbar></app-toolbar>
<div style="height: 100vh;" class="home">
  <div class="home-details">
    <mat-card class="my-card">
      <div class="title">
        <h2>To-Do (1)</h2>
      </div>
      <div class="middle">
        <div class="details">
          <h3 class="weight">Assignment : </h3>
          <h3> Application Programmer V</h3>
        </div>
        <div class="details">
          <h3 class="weight">Company : </h3>
          <h3>Bank Of America - CLP - BACJ</h3>
        </div>
      </div>
      <div class="middle">
        <div class="details">
          <h3 class="weight">Start : </h3>
          <h3> 04/11/2022 </h3>
        </div>
        <div class="details">
          <h3 class="weight">End : </h3>
          <h3> 12/31/2022 </h3>
        </div>
        <div class="details">
          <h3 class="weight">Worker ID : </h3>
          <h3>BACJWK00030776</h3>
        </div>
      </div>
      <div class="end">
        <div class="details">
          <span class="weight">Time Sheet</span>
          <h3> Complete Time Sheet</h3>
        </div>
        <div class="details">
          <span class="weight">ID</span>
          <h3>BACJTS01164316</h3>
        </div>
        <div class="details">
          <span class="weight">Period</span>
          <h3>07/11/2022 - 07/17/2022</h3>
        </div>
      </div>
      <div class="footer">
        <div class="details">
          <span class="footer-text">Don't see your time sheet ?</span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
